body {
    font-family: Calibri, 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2.5em;
}

*{margin: 0; padding: 0;}

 .banner{
    margin:0 auto;
    width:100%; 
    height: 300px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    display: block;
 }

.heading { 
    position: absolute;
    margin-top: auto;
    text-align: center;
    color: white; 
    font-size: 75px;
    font-family: "Jazz LET", "fantasy";
    width: 100%; 
    letter-spacing: 3px;
}
/* Header CSS */
.header {
    color: white;
    font-size: x-large;
    padding-left: 30px;
}

.img-header {
    padding: 10px;
    max-width: 15%;
    min-width: 100px;
}

.bg-header {
    background-color: #800000;
}

.bg-nav-color {
    background-color: #676767;
}
/* End Header CSS */

.container{
    overflow: visible;
}

.transparent-element{
    background-color: rgb(150, 67, 67,.6);
    width: 500px;
    height: 75px;
    text-align: center;
    display: flex; 
    justify-content: center;
    padding-bottom: 10px;
    z-index: 3;
}

.pasta-box{
    background-color: rgb(32, 102, 100,0.6);
}

.pasta-banner{
    background-image: url("../img/Pasta_Image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: round;
    border-color: darkgrey;
    border-width: 1px;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:-webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.pasta-text{
    position :relative;
    margin-top: -43px;
    background: rgb(32, 102, 100);
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px;
    width: 100%;
    text-align: center;
    font-size: medium ;
    font-family: serif;
    padding-bottom: 25px;
    z-index: 0;
}

.pizza-box{
    background-color: rgb(63,37,11,0.6);
}
.pizza-banner{
    background-image: url("../img/Pizza.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: round; 
    border-color: darkgrey;
    border-width: 1px;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:-webkit-sticky;
    position: sticky;
    top: 200px;
    z-index: 9;   
}

.pizza-text{
    position:relative;
    margin-top: -43px;
    background: rgb(63,37,11);
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px;
    width: 100%;
    text-align: center;
    font-size: medium ;
    font-family: serif;
    padding-bottom: 25px;
    border-bottom: solid 2px #580000;
    z-index: 2;
}

.dessert-box{
    background-color: rgb(150, 67, 67,0.6);
}

.desserts-banner{
    background-image: url("../img/homemade-tiramisu-2.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: round; 
    border-color: darkgrey;
    border-width: 1px;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:-webkit-sticky;
    position: sticky;
    top: 400px;
    z-index: 10;
}

.desserts-text{
    position:relative;
    margin-top: -43px;
    background: rgb(150, 67, 67);
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px;
    width: 100%;
    text-align: center;
    font-size: medium ;
    font-family: serif;
    padding-bottom: 25px;
    border-bottom: solid 2px #580000;
    z-index: 1;
}

.footer {
    font-size: small;
    color:white;
    position: absolute;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    background-color: #800000;
    border-top: salmon solid;
    font-weight: 2000;
} 

.footerLinks {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 426px) {
    div.h4 {
        font-size: medium;
    }

    div.h5 {
        font-size: small;
    }

    p {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }

    .header {
        font-size: medium;
        padding-left: 20px;
    }

    .img-header {
        padding: 10px;
        max-width: 15%;
        min-width: 100px;
    }

    .center {
        position: absolute;
        margin-top: 20px;
        transform: translate(-50%, -50%);
        font-size: 100%;
        color: rgb(255, 255, 255);
        font-family: cursive;
    }

    .eating {
        width: 300px;
    }
}

@media only screen and (min-width: 427px) {
    p {
        font-size: 1.2em;
    }

    h2 {
        font-size: 2.2em;
    }

    .header {
        font-size: xx-large;
        padding-left: 40px;
    }

    .img-header {
        padding: 20px;
        max-width: 25%;
        min-width: 100px;
    }
}