body {
    font-family: 'Calibri', 'Courier New', Courier, monospace;
    background-color: olive;
}

.main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
}

section {
    color: #800000;
}

.img-header {
    padding: 10px;
    max-width: 15%;
    min-width: 100px;
}

.header {
    color: white;
    font-size: x-large;
    padding-left: 30px;
}

.bg-header {
    background-color: #800000;
}

.bg-nav-color {
    background-color: #676767;
}

.input-field input[type=text]:focus + label {
    color: red;
}

.input-field input[type=text] {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}

.input-field input[type=email] {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}

.input-field textarea {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid darkgreen;
    box-shadow: 0 1px 0 0 darkgreen;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}

.pageContainer {
    position: relative;
    min-height: 100vh;
}

.contentWrap {
    padding-bottom: 2.5rem;
}

.footer {
    font-size: small;
    color:white;
    position: absolute;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    background-color: #800000;
    border-top: salmon solid;
    font-weight: 2000;
} 

.footerLinks {
    display: flex;
    flex-direction: column;
}

.banner{
    margin:0 auto;
    width:100%;
    height: 300px; 
}

.heading{ 
    color:white;
    padding-top:150px;
    width:100%; 
    text-align: center;
}

h1.heading{
    padding-right: 20px;
}

.desserts-banner{
    background-image: url("../img/homemade-tiramisu-2.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.desserts-text{
    background: coral;
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 426px) {
    div.h4 {
        font-size: medium;
    }

    div.h5 {
        font-size: small;
    }

    p {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }

    .header {
        font-size: medium;
        padding-left: 20px;
    }

    .img-header {
        padding: 10px;
        max-width: 15%;
        min-width: 100px;
    }

    .center {
        position: absolute;
        margin-top: 20px;
        transform: translate(-50%, -50%);
        font-size: 100%;
        color: rgb(255, 255, 255);
        font-family: cursive;
    }

    .eating {
        width: 300px;
    }
}

@media only screen and (min-width: 427px) {
    p {
        font-size: 1.2em;
    }

    h2 {
        font-size: 2.2em;
    }

    .header {
        font-size: xx-large;
        padding-left: 40px;
    }

    .img-header {
        padding: 20px;
        max-width: 25%;
        min-width: 100px;
    }
}