body {
    font-family: Calibri, 'Courier New', Courier, monospace;
}

section {
    color: #800000;
}

.img-header {
    padding: 10px;
    max-width: 15%;
    min-width: 100px;
}

.heading {
    color: white;
    font-size: x-large;
    padding-left: 30px;
}

.bg-header {
    background-color: #800000;
}

.main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

section {
    color: #800000;
}

.footer {
    font-size: small;
    color:white;
    position: absolute;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    background-color: #800000;
    border-top: salmon solid;
    font-weight: 2000;
} 